<nav class="navbar navbar-expand-lg transparent navbar-light sticky-top stiky">
  <a class="navbar-brand navbar-dark " routerLink="home"
    ><b>{{ AppComp.title }}</b></a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav navbar-right ml-auto">
      <li class="nav-item">
        <form class="form-inline">
          <input
            *ngIf="false"
            class="form-control mr-sm-2"
            #box
            (keyup.enter)="search(box.value)"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
        </form>
      </li>
      <li class="nav-item">
        <a class=" nav-link " routerLink="home" routerLinkActive="active"
          >home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class=" nav-link  "
          routerLink="courses"
          *ngIf="true"
          routerLinkActive="active"
          >courses <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class=" nav-link "
          href="#"
          *ngIf="isLogin && false"
          routerLinkActive="active"
          id="navbarDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >courses <span class="sr-only">(current)</span></a
        >
        <div class="dropdown-menu transparent" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="courses">all courses</a>
          <a class="dropdown-item" routerLink="courses/my-courses"
            >my courses</a
          >
          <a class="dropdown-item" routerLink="courses/enrolled-courses"
            >enrolled courses</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a
          class=" nav-link "
          *ngIf="isLogin && false"
          routerLink="user-detail"
          routerLinkActive="active"
          >my profile<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class=" nav-link "
          routerLink="courses/create-course"
          *ngIf="isLogin"
          routerLinkActive="active"
        >
          create course <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          data-toggle="dropdown"
          class="nav-link dropdown-toggle"
          *ngIf="!isLogin"
          href="#"
          >Login</a
        >
        <ul class="dropdown-menu form-wrapper">
          <li>
            <form (submit)="login(loginForm)" #loginForm="ngForm">
              <mat-form-field class="form-group">
                <input
                  matInput
                  type="text"
                  name="userName"
                  ngModel
                  class="form-control"
                  placeholder="Username"
                  #userNameInput="ngModel"
                  required
                />
              </mat-form-field>
              <mat-form-field class="form-group">
                <input
                  matInput
                  type="password"
                  name="password"
                  ngModel
                  class="form-control"
                  placeholder="Password"
                  #passwordInput="ngModel"
                  required
                />
              </mat-form-field>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-primary btn-block"
                [disabled]="userNameInput.invalid || passwordInput.invalid"
              >
                login
              </button>
            </form>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a
          href="#"
          data-toggle="dropdown"
          class="nav-link dropdown-toggle"
          *ngIf="!isLogin"
          >Sign up</a
        >
        <ul class="dropdown-menu form-wrapper ">
          <li>
            <form
              action="#"
              method="post"
              [formGroup]="createRegistrationControl"
            >
              <p class="hint-text">Fill in this form to create your account!</p>
              <mat-form-field class="form-group">
                <input
                  matInput
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  name="registrationUsername"
                  formControlName="userName"
                  required
                />
              </mat-form-field>
              <mat-form-field class="form-group">
                <input
                  matInput
                  type="email"
                  class="form-control"
                  formControlName="email"
                  placeholder="email"
                  required
                  email
                  name="email"
                />
              </mat-form-field>
              <mat-form-field class="form-group">
                <input
                  matInput
                  type="password"
                  class="form-control"
                  name="registrationPassword"
                  formControlName="password"
                  placeholder="Password"
                  required
                />
              </mat-form-field>
              <button
                mat-raised-button
                type="submit"
                (click)="registration()"
                class="btn btn-primary btn-block"
                value="Sign up"
                [disabled]="!createRegistrationControl.valid"
              >
                Sign up
              </button>
            </form>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a
          class="nav-item nav-link "
          *ngIf="isLogin"
          (click)="logOut()"
          routerLink="logout"
          routerLinkActive="active"
          >log out<span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
  </div>
</nav>
