* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 80%;
  background: #ccc;
  line-height: 1.2;
  margin: 4em;

}

img {
width: 100%;
}
article {
padding: 20px;
border: 1px solid #999;
border-radius: 5px;
background: #fff;
}
a:link,
a:visited {
color: black;
}
h1 {
  margin-top: 0;
  margin-left: 0.75rem;
}
main {
  columns: 250px;
  column-gap: 20px;
}
article {
  break-inside: avoid-column;
  margin-bottom: 1rem;
}
