<div class="lectureBody">
  <mat-grid-list cols="7" rowHeight="100%">
    <mat-grid-tile [colspan]="5">
      <div [innerHTML]="currentLecture.lectureBody"></div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2">
      <mat-accordion class="lecture-list">
        <mat-expansion-panel
          class="full"
          *ngFor="let lecture of course.lecture"
        >
          <mat-expansion-panel-header>{{
            lecture.lectureName
          }}</mat-expansion-panel-header>
          <mat-action-row>
            <button
              mat-button
              color="primary"
              (click)="onClickView(lecture.lectureId)"
            >
              view
            </button>
            <button mat-button color="warn">Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-grid-tile>
  </mat-grid-list>
</div>
